networks:
  backend:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1

volumes:
  traefik-certs_data:
  mqtt_data:
  node-red_data:
  modbus2mqtt_data:
  influxdb-config:
  influxdb-data:

services:
  traefik:
    container_name: traefik
    image: traefik:latest
    restart: unless-stopped
    networks:
      - backend
    ports:
      # Public HTTP Port:
      - '80:80'
      # Public HTTPS Port:
      - '443:443'
      # MQTT
      - '8883:8883'
      - '8884:8884'
    environment:
      - HETZNER_API_KEY=${HETZNER_API_KEY}
      - TZ=Europe/Berlin
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./traefik/config.yml:/etc/traefik/traefik.yml:ro"
      - "./traefik/dynamic:/etc/traefik/dynamic:ro"
      - "traefik-certs_data:/etc/traefik/certs"


  authentik_proxy:
    container_name: authentik_proxy
    image: ghcr.io/goauthentik/proxy:2025.12.4
    restart: unless-stopped
    networks:
      - backend
    environment:
      - AUTHENTIK_HOST=https://auth.ffw-it.de
      - AUTHENTIK_INSECURE=false
    env_file:
      - authentik.env

  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower
    restart: unless-stopped
    networks:
      - backend
    environment:
      - TZ=Europe/Berlin
      - WATCHTOWER_MONITOR_ONLY=true
      - WATCHTOWER_NOTIFICATION_URL=${WATCHTOWER_NOTIFICATION_URL}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"

  mqtt:
    container_name: mqtt
    image: eclipse-mosquitto:latest
    restart: unless-stopped
    networks:
      - backend
    environment:
      TZ: Europe/Berlin
    ports:
      - "1883:1883"
    volumes:
      - ./mqtt-config:/mosquitto/config
      - mqtt_data:/mosquitto/data
    labels:
      - "traefik.enable=true"

      - "traefik.tcp.routers.mqtt-private.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.mqtt-private.entrypoints=mqtt-private"
      - "traefik.tcp.routers.mqtt-private.tls=true"
      - "traefik.tcp.routers.mqtt-private.service=mqtt-private"
      - "traefik.tcp.services.mqtt-private.loadbalancer.server.port=8883"

      - "traefik.tcp.routers.mqtt-private-ws.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.mqtt-private-ws.entrypoints=mqtt-private-ws"
      - "traefik.tcp.routers.mqtt-private-ws.tls=true"
      - "traefik.tcp.routers.mqtt-private-ws.service=mqtt-private-ws"
      - "traefik.tcp.services.mqtt-private-ws.loadbalancer.server.port=8884"

  node-red:
    container_name: node-red
    image: nodered/node-red
    restart: unless-stopped
    networks:
      - backend
    environment:
      NODE_RED_ENABLE_PROJECTS: true
      TZ: Europe/Berlin
    volumes:
      - node-red_data:/data
    user: node-red
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.node-red.rule=Host(`flow.mzf.ffw-it.de`)"
      - "traefik.http.routers.node-red.entrypoints=websecure"
      - "traefik.http.routers.node-red.middlewares=sso-auth@file"
      - "traefik.http.routers.node-red.tls=true"
      - "traefik.http.services.node-red.loadbalancer.server.port=1880"

  web-monitor:
    container_name: web-monitor
    image: joseluisq/static-web-server:2
    restart: unless-stopped
    networks:
      - backend
    environment:
      TZ: Europe/Berlin
      SERVER_HOST: 0.0.0.0
      SERVER_CACHE_CONTROL_HEADERS: false
    volumes:
      - /opt/www-monitor-new:/public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.monitor-local.rule=Host(`monitor.mzf.ffw-it.de`) && ClientIP(`10.2.101.10`)"
      - "traefik.http.routers.monitor-local.entrypoints=websecure"
      - "traefik.http.routers.monitor-local.tls=true"

      - "traefik.http.routers.monitor-auth.rule=Host(`monitor.mzf.ffw-it.de`)"
      - "traefik.http.routers.monitor-auth.middlewares=sso-auth@file"
      - "traefik.http.routers.monitor-auth.entrypoints=websecure"
      - "traefik.http.routers.monitor-auth.tls=true"

      - "traefik.http.services.monitor.loadbalancer.server.port=80"

  modbus2mqtt:
    container_name: modbus2mqtt
    image: ghcr.io/ff-woernitz/mzf-modbustcp2mqtt:master
    restart: unless-stopped
    networks:
      - backend
    environment:
      TZ: Europe/Berlin
      M2M_MQTT_SERVER: mqtt
      M2M_MQTT_PORT: 1883
      M2M_MQTT_BASE_TOPIC: mzf_modbus
      M2M_MODBUS_COIL_SIZE: 64
      M2M_MODBUS_DINP_SIZE: 0
      M2M_MODBUS_ALLOWED_IPS: '10.2.102.231,10.0.110.100'
    ports:
      - "502:502"
    volumes:
      - modbus2mqtt_data:/opt/backup

  influxdb:
    container_name: influxdb
    image: influxdb:2-alpine
    restart: unless-stopped
    networks:
      - backend
    volumes:
      - influxdb-config:/etc/influxdb2
      - influxdb-data:/var/lib/influxdb2
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.influxdb.rule=Host(`influxdb.mzf.ffw-it.de`)"
      - "traefik.http.routers.influxdb.entrypoints=websecure"
      - "traefik.http.routers.influxdb.tls=true"
      - "traefik.http.services.influxdb.loadbalancer.server.port=8086"

  telegraf:
    container_name: telegraf
    image: telegraf:alpine
    restart: unless-stopped
    networks:
      - backend
    ports:
      - "2055:2055/udp"
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro