[agent]
omit_hostname = true


[[inputs.netflow]]
  service_address = "udp4://:2055"
  protocol = "ipfix"

  fieldinclude = ["protocol", "src", "src_port", "dst", "dst_port", "in_snmp", "out_snmp", "in_bytes"]
  [inputs.netflow.tags]
    selector = "netflow"

[[processors.converter]]
  [processors.converter.fields]
    tag = ["protocol", "src", "src_port", "dst", "dst_port"]

  [processors.converter.tagpass]
    selector = ["netflow"]

[[outputs.influxdb_v2]]
  urls = ["http://influxdb:8086"]
  token = "DieDasAnanas"
  organization = "ffw-mzf"
  bucket = "netflow"
  tagexclude = ["selector", "source", "version"]

  [outputs.influxdb_v2.tagpass]
    selector = ["netflow"]


[[inputs.snmp]]
  agents = ["udp://10.10.2.2:161"]
  version = 2
  community = "DieDasAnanas"

  [[inputs.snmp.table]]
    name = "interface"
    [[inputs.snmp.table.field]]
      oid = "IF-MIB::ifDescr"
      name = "ifDescr"
    [[inputs.snmp.table.field]]
      oid = "IF-MIB::ifIndex"
      name = "ifIndex"
      conversion = "int"
      is_tag = true

  [inputs.snmp.tags]
    selector = "ifname"

[[outputs.influxdb_v2]]
  urls = ["http://influxdb:8086"]
  token = "DieDasAnanas"
  organization = "ffw-mzf"
  bucket = "ifname"
  tagexclude = ["selector", "agent_host"]

  [outputs.influxdb_v2.tagpass]
    selector = ["ifname"]